{% extends "base.html" %}

{% block content %}

    {{ map|safe }}

{#    <div id="map" style="height: 600px; width: 600px;"></div>#}
{##}
{#    <script>#}
{##}
{#        var map = L.map('map').setView([41.3775, 64.5853], 5.5);#}
{#        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {#}
{#            maxZoom: 19,#}
{#            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'#}
{#        }).addTo(map);#}
{##}
{#    </script>#}

{% endblock %}
