SECRET_KEY='secret-key-123'
DEBUG=1

POSTGRES_USER=gis_user
POSTGRES_PASSWORD=gis_password
POSTGRES_DB=gisdb
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
GDAL_LIBRARY_PATH=/opt/gdal/lib
GEOS_LIBRARY_PATH=/opt/geos/lib
SQLALCHEMY_DATABASE_URI=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}

IS_ALLOWED_CREDENTIALS=1
SERVER_HOST=localhost
SERVER_PORT=8010
SERVER_WORKERS=4
LOGGING_LEVEL=INFO

SIAT_URI=https://link.com
SDMX_URI=https://link.com

GEOJSON_URL="Country.geojson"

DATABASE_URL="mongodb://mongodb:27017/gis"
MONGO_HOST=mongodb
MONGO_DB=gis
